@media(max-width :410px){

  nav{
    padding-left: 5px;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    height: 80px;
  }
  .nav-link{
   display: none;
 }
 .cart{
  display: none;
 }
 .clicki {
  display: block;
  z-index: 2;
 }
 .click>.nav-link {
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
  width: 100%;
 }
 .page-text > h2{
  font-size: 10vw;
color: var(--pink);
  position: relative;
}
.page-text > p{
  font-size:3.5vw;
}
.Appoinment{
  width: 48%;
  font-size: 3vw;
 }
      /* page2 */

  .main-head h2{
    font-size: 8vw;
    position: relative;
    z-index: 3;
    font-weight: 800;

  }
  .main-head p{
    font-size: 4vw;
    position: relative;
    z-index: 3;
    font-weight: 800;
  }
#first-img{
  top: 68%;
}
#second-img{
display: none;
}

/* Page 3 */
#page3{
  height: auto;
}
.services{
  flex-direction: column;
  gap: 30px;
}
.card{
  height: 250px;
  width: 70%;
}
.services > button{
top: 103%;
}

/* Page4 */
#subs-banner input[type="email"]{
  width: 60%;
  margin-left: 20px;
  
}
.who-part{
  flex-direction: column-reverse;
  }
  .who-part-left{
    width: 100%;
    height: 500px;
  }
  .who-part-left p {
  font-size: 3.8vw;
  }
  
  .who-part-right{
    width: 100%;
    height: 700px;
  
  }
  .who-part-img{
    width:50% ;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }
  .i-75{
    top:-15px;
    left: 30%;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.i-55 {
  display: none;
}

/* Page 5 */

.page5-head{
  flex-direction: column;
}
.page5-head-left{
  width: 100%;
  padding: 0 20px;
}
#video{
  height: 400px;
}
.page5-head-right{
  width: 100%;
}
footer{
  height: 800px;
}
.footer{
  flex-direction: column;
  height: 100%;
}
.footer-left,.footer-right{
  text-align: center;
}
.footer-left img{
  height: 20vw
}
.footer-left h3{
  font-size: 3vw;
}
.footer-right{
  flex-direction: column;
  height: 100%;
}
.nav-links-top{
  width: 100%;
  text-align: center;
}
.nav-links-top h2{
  margin-bottom: 20px;
}
.gallery{
  margin-top: 30px;
  width: 100%;
}
.main-footer{
  flex-direction: column;
}
.show{
  width: 100%;
}
#show{
  right: 50px;
}
.footer-btm{
  height: 70px;
}
.main-footer p{
  text-align: center;
}










}


@media (min-width: 411px) and  (max-width: 576px) {
  nav{
    padding-left: 5px;
    justify-content: space-around;
  }
  .nav-link{
   display: none;
 }
 .cart{
  display: none;
 }
 .clicki {
  display: block;
  z-index: 2;
 }
 .click>.nav-link {
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
  width: 100%;
 }
 .page-text > h2{
  font-size: 10vw;
color: var(--pink);
  position: relative;
}
.page-text > p{
  font-size:3.1vw;
}
.Appoinment{
 width: 48%;
 font-size: 3vw;
}

      /* page2 */

  .main-head h2{
    font-size: 7vw;
    position: relative;
    z-index: 3;
    font-weight: 800;

  }
  .main-head p{
    font-size: 4vw;
    position: relative;
    z-index: 3;
    font-weight: 800;
  }
#first-img{
  top: 68%;
}
#second-img{
  bottom: 0%;
}

/* Page 3 */
#page3{
  height: auto;
}
.services{
  flex-direction: column;
  gap: 30px;
}
.card{
  height: 250px;
  width: 70%;
}
.services > button{
top: 103%;
}

/* Page4 */
#subs-banner input[type="email"]{
  width: 60%;
  margin-left: 20px;
  
}
.who-part{
  flex-direction: column-reverse;
  }
  .who-part-left{
    width: 100%;
    height: 500px;
  }
  .who-part-left p {
  font-size: 2.9vw;
  }
  
  .who-part-right{
    width: 100%;
    height: 700px;
  
  }
  .who-part-img{
    width:50% ;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }
  .i-75{
    top:-15px;
    left: 30%;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.i-55 {
  display: none;
}

/* Page 5 */

.page5-head{
  flex-direction: column;
}
.page5-head-left{
  width: 100%;
  padding: 0 20px;
}
#video{
  height: 400px;
}
.page5-head-right{
  width: 100%;
}

.footer{
  flex-direction: column;
  height: 550px;
}
footer{
  height: 800px;
}
.footer{
  flex-direction: column;
  height: 100%;
}
.footer-left,.footer-right{
  text-align: center;
}
.footer-right{
  flex-direction: column;
  height: 100%;
}
.nav-links-top{
  width: 100%;
  text-align: center;
}
.nav-links-top h2{
  margin-bottom: 20px;
}
.gallery{
  margin-top: 30px;
  width: 100%;
}
.show{
  width: 100%;
}
#show{
  right: 50px;
}

}

/* For devices between 577px to 768px wide (e.g., phones in landscape mode and small tablets) */
@media (min-width: 577px) and (max-width: 768px) {

  nav{
    height: 90px;
  }
  nav > img{
    height: 90%;
  }


        /* Page2 */
  .main-head h2{
    font-size: 5vw;
    position: relative;
    z-index: 3;
    font-weight: 800;

  }
  .main-head p{
    font-size: 2.8vw;
    position: relative;
    z-index: 3;
    font-weight: 800;
  }
#first-img{
  top: 58%;
  z-index: 1;
}
#second-img{
  bottom: 15%;
  z-index: 1;
}

                              /* Page3 */
#page3{
  height: 1110px;
}
.services{
  flex-direction: column;
  padding: 40px 0;
}
.card{
 width: 80%;
height: 260px;
}
.services > button{
  top: 0;
  cursor: pointer;
}
.services > button:hover{
  font-weight: 800;
}

                          /* Page4 */
.page4-head{
  margin: 0;
}
.main4-head input[type="email"]{
  margin: 0;
}

.who-part{
flex-direction: column-reverse;
}
.who-part-left{
  width: 100%;
  height: 500px;
}
.who-part-left p {
font-size: 2.7vw;
}

.who-part-right{
  width: 100%;
  height: 700px;

}
.who-part-img{
  width:45% ;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.i-75{
  top:-15px;
  left: 30%;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}
.i-55{
  top:-18px;
  left: 20%;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}

.page5-head{
  flex-direction: column;
}
.page5-head-left{
  width: 100%;
}
#video{
  height: 550px;
}
.page5-head-right{
  width: 100%;
}
footer{
  height: 550px;
}
.footer{
  flex-direction: column;
}

.footer-left{
  padding: 10px 0 20px 20px;
  text-align: center;
}
.footer-right{
  padding: 20px 0 20px 10px;
  width: 100%;
  justify-content: space-evenly;
}

.nav-links-top{
  margin-right: 0;
  width: 180px;
}
.footer-left img{
  height: 90px;
}
.gallery{
  width: 240px;
}
.show{
  width: auto;
}
#show{
  right: 15px;
  /* bottom: -25px; */

}
#show:hover{
  font-weight: 700;
  cursor: pointer;
}



















}

/* For devices between 769px to 992px wide (e.g., larger tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  .main-head h2{
    font-size: 4.5vw;
    position: relative;
    z-index: 3;
    font-weight: 800;

  }
  .main-head p{
    font-size: 2vw;
    position: relative;
    z-index: 3;
    font-weight: 800;
  }
#first-img{
  top: 40%;
  z-index: 1;
}
#second-img{
  bottom: 35%;
  z-index: 1;
}
.services > button{
  top: 50px;
  cursor: pointer;
}
.services > button:hover{
  font-weight: 800;
}
.card{
  width: 30%;
}

.who-part-left p {
font-size: 2.3vw;
}

.who-part-right{
  right:25px;
  width: 280px;

}
.who-part-img{
  width:100% ;
}
.i-55{
  left: 40px;
  transform:rotate(20deg) ;
  -webkit-transform:rotate(20deg) ;
  -moz-transform:rotate(20deg) ;
  -ms-transform:rotate(20deg) ;
  -o-transform:rotate(20deg) ;
}
.i-75{
  position: absolute;
  top: 0;
  left: 33px;
}
.page5-head-left{
  padding-left: 20px;
}

.footer-left{
  padding: 10px 0 20px 20px;
}
.footer-right{
  padding: 20px 0 20px 10px;
  width: 100%;
  justify-content: space-evenly;
}

.nav-links-top{
  margin-right: 0;
  width: 180px;
}
.footer-left img{
  height: 90px;
}
.gallery{
  width: 240px;
}
.show{
  width: auto;
}
#show{
  right: 15px;
  /* bottom: -25px; */

}
#show:hover{
  font-weight: 700;
  cursor: pointer;
}























}

/* For devices between 993px to 1200px wide (e.g., small laptops/desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .main-head h2{
    font-size: 4.2vw;
    position: relative;
    z-index: 3;
  }
  .main-head p{
    font-size: 1.8vw;
    position: relative;
    z-index: 3;
    font-weight: 800;
  }
#first-img{
  top: 40%;
  z-index: 1;
}
#second-img{
  bottom: 34%;
  z-index: 1;
}
.services > button{
  top: 50px;
  cursor: pointer;
}
.services > button:hover{
  font-weight: 800;
}
.who-part-left p {
font-size: 2.1vw;
}
.who-part-right{
  right: 20px;
}
.i-55{
  left: 80px;
  transform:rotate(25deg) ;
  -webkit-transform:rotate(25deg) ;
  -moz-transform:rotate(25deg) ;
  -ms-transform:rotate(25deg) ;
  -o-transform:rotate(25deg) ;
}
.footer-left{
  padding: 20px 0 20px 20px;
}
.footer-right{
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
}
.show{
  width: auto;
}
#show{
  right: 15px;
}
#show:hover{
  font-weight: 700;
  cursor: pointer;
}











































}

/* For devices larger than 1200px wide (e.g., medium to large laptops/desktops) */
@media (min-width: 1201px) {
 
}
