@font-face {
    font-family: reg;
    src: url(../Font/OpenSans-Regular.woff2);
}
@font-face {
    font-family: head;
    src: url(../Font/PlayfairDisplay-Bold.woff2);
}

:root{
    --pink:#fd00a9;
    --grey:rgba(149, 139, 139, 0.845);
    --white:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
p{
    font-family: reg;
}
h1 ,h2 ,h3, h4, h5, h6{
    font-family: head;
}
h2{
    color: var(--pink);
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  line-height: .8;
}

nav{
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 10;
}
nav>img{
    height: 100%;

}
.nav-wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.3rem;
}
.nav-link{
    display:flex ;
    gap: 20px;
}
.nav-link a{
    color: var(--pink);
    text-decoration: none;
    text-transform: capitalize;
}
.nav-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}

.clicki, .close{
    font-size: 30px;
    color: white;
    display: none;
    z-index: 2;
}

/* ham */
.click{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 0;
    top: .1%;
    transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1) ;
    -webkit-transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1) ;
    -moz-transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1) ;
    -ms-transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1) ;
    -o-transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1) ;
    overflow: hidden;

}



.video{
    width: 100%;
    height: 100vh;
object-fit: cover;
position: fixed;
z-index: -1;
}

                        /* Page 1 */

.page-text{
    position: relative;
}

.page-text > h2{
    font-size: 4rem;
  color: var(--pink);
    position: relative;
}
.page-text>h2::after{
    content: 'CERAMIC';
    position: absolute;
    left: 4px;
    color: black;
    -webkit-text-stroke: 2px  var(--grey);
    z-index: -1;
}
.page-text>h2::before{
    content: 'GLAZE';
    position: absolute;
    right: -4px;
    color: black;
    -webkit-text-stroke: 2px  var(--grey);
    z-index: -1;
}
.page-text > p{
    /* font-size:  */
  color: var(--white);
  text-align: center;
}
.Appoinment{
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: head;
}
.Appoinment:hover{
    background-color: var(--pink);
    color: #fff;
    cursor: pointer;

}
#button-center{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.355);
    }
                        /* Page 1 */
    #page1{
        height: 100vh;
        position: relative;
        display: flex;
     align-items: center;
     justify-content: center ;
    } 

            /* Page2 */
    
#page2{
  padding-top: 80px;
  /* height: 100vh; */
  overflow-x: hidden;
} 
    
.scroller{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 70px;
    }
.item{
    margin-right: 20px;
    display: flex;
    width: 100%;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
.item h1{
    display: inline-block;
    margin-right: 20px;
    font-size: 50px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px var(--pink);
}

.item h1:hover{
    color: var(--pink);
    animation-play-state: paused;
}

@keyframes scroll {
    from{
       transform: translateX(0);
       -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
       -ms-transform: translateX(0);
       -o-transform: translateX(0);
}
    to{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
}

.page2-head{
    max-width: 1200px;
    margin: auto;
    height: 750px;
    /* background-color: #8080806a; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 50px;
}
#first-img {
    position: absolute;
    width: 230px;
    height: 280px;
    left: 20px;
    top: 90px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-image: url('../img/fpge/serjan-midili-tOOeQv6O71g-unsplash.webp');
    background-position: center;
    background-size: cover;

}
#second-img{
    position: absolute;
    width: 230px;
    height: 350px;
    right: 20px;
    bottom: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-image: url('../img/fpge/ville-kaisla-HNCSCpWrVJA-unsplash.webp');
    background-position: center;
    background-size: cover;
}
.overlay-img{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.411), rgba(30, 27, 27, 0.592));
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.main-head{
    width:580px ;
    height: 350px;
}
.main-head h2{
    color: var(--pink);
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    line-height: .8;
}
.main-head span{

    color: rgba(149, 139, 139, 0.845);
    font-size: 1.3rem;
}
.main-head p{
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;

}

        /* Page 3 */
#page3{
    /* height: 100vh; */
    max-width:1200px ;
    margin: auto;
    color: #fff;
    padding: 50px 0;
}
.main3-head{
    padding: 50px 0;
    height: 100%;
}
.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
   position: relative; 
   height: 100%;
}
.card{
    /*background-color: #808080;
    */height: 500px;
    width: 300px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    position: relative;
}
.card-img{
    height: 100%;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;

}
.card-img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    transition: .5s all ease-in;
    -webkit-transition: .5s all ease-in;
    -moz-transition: .5s all ease-in;
    -ms-transition: .5s all ease-in;
    -o-transition: .5s all ease-in;
}
.card-cnt{
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    height: 100px;
    background-color: #808080;
    position: absolute;
    width: 100%;
    display: none;
    transition: 1s all ease-in;
    -webkit-transition: 1s all ease-in;
    -moz-transition: 1s all ease-in;
    -ms-transition: 1s all ease-in;
    -o-transition: 1s all ease-in;
}
.services > button{
    position: absolute;
    font-size: .9rem;
    top: -38px;
    right: 5px;
    width: 150px;
    height: 30px;
    display: inline-block;
    background-color: #fd00a9;
    border: none;
   border-bottom-left-radius: 15px;
   border-top-right-radius: 15px;
   color: #fff
}
.services > button > i{
   font-size: 1rem;
}
.services > button:hover{
    cursor: pointer;
    font-weight: 800;
}

                                     /* Page4 */


#page4{
    /* height: 100vh; */
    overflow-x: hidden;
}

.page4-head{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    height: 150px;
    margin-bottom: 50px;
}
.main4-head {
 width:600px
}
#subs-banner{
    display: flex;
    justify-content: center;
}
#subs-banner input[type="email"]{
    width: 480px;
    height: 50px;
    border: none;
    border-bottom: 1px solid white;
    background-color: #000;
    outline: none;
    color: white;
    padding: 0 10px;
    margin-right: 10px;
    
}
#subs-banner>button{
    display: inline-block;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 10px;
    font-weight: 900;
}
#subs-banner > button:hover{
    background-color: var(--pink);
    color: #fff;
    cursor: pointer;
}
::placeholder{
    color: white;
}

.whoweare{
    height: 800px;
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
}
.who-part{
    display: flex;
    gap: 20px;
    height: 90%;
    padding-top: 50px;
}
.who-part-right,.who-part-left{
    height: 100%;
    position: relative;
    color: #fff;
    
}
.who-part-left{
    width: 55%;
}
.who-part-left p{
    padding: 0 20px;
font-size: 1.5rem;
}
.who-part-img{
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    background-color: aqua;
    left: 45px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.i-90{
    z-index: 3;
}
.i-75{
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    background-color: #aa1b1b;
    left: 60px;
    z-index: 2;
}
.i-55{
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    background-color: #aa1b1b;
    left: 100px;
    z-index: 1;
    
}
.i-75:hover ,.i-90:hover , .i-55:hover{
    z-index: 5;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

                        /* Page 5 */

#page5{
    padding-top: 80px;
    /* height: 100vh; */
}
/* .page5-main{
    margin-top: 80px;
} */
.page5-head{
    max-width: 1200px;

    margin: auto;
    height: 100%;
    display: flex;
}
.page5-head-left , .page5-head-right{   
    width: 50%;
    /* border: 1px solid red; */
 display: flex;
    align-items: center;
    justify-content: center; 
}
#video{
    object-fit: cover;
    height: 700px;
    width: 500px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
form{
    /* background-color: #dadada; */
    height: 800px;
    width: 100%;
    border-radius: 50px;
}
#h{
    color: var(--pink);
    padding: 50px;
    text-align: center;
}
.firstname ,.lastname ,.email,.phone,.state , .message{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}

form input[type="text"] , form input[type="email"] , form input[type="tel"],textarea {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid var(--pink);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s all linear;
    -webkit-transition: .51s all linear;
    -moz-transition: .51s all linear;
    -ms-transition: .51s all linear;
    -o-transition: .51s all linear;
}
#message{
    
    resize: none;
}
#message:focus {
    height: 200px;
}

form input[type="text"]:focus , form input[type="email"]:focus ,form input[type="tel"]:focus ,textarea:focus {
    box-shadow: 1px 1px 20px white;
}
form ::placeholder{
    color: #000;
}
.submit{
    display: flex;
    justify-content:flex-end;
    padding: 0 20px;
}
form input[type="submit"]{
    padding: 10px 5px;
    border-radius: 8px;
    border: none;
    width: 150px;
    font-family: reg;
    font-weight: 900;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: var(--pink);
    color: white;
}


form p{
    margin-top: 5px;
    text-align: end;
    color: white;
    font-size: .8rem;
    height: 30px;
    display: none;
}
#alert{
    padding: 2px 4px;
    border-radius:50% ;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: red;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    margin-right: 5px;
}
#alert i{
    font-size: 1.4rem;
}

footer{
    margin-top: 50px;
    height: 300px;
    background-color: #000;

}
.footer{
    max-width: 1200px;
    background-color: #000;
    height: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.footer-left , .footer-right{
    padding: 20px;
    color: var(--grey);
}
.footer-left img{
    height: 100px;
}
.footer-left h3{
 font-size: .8rem;
}
.footer-left h4{
 font-size: .8rem;
 font-family: reg;
}
.footer-left h3:nth-child(2){
    margin-top:20px ;
}
.footer-left h4:nth-child(4){
    margin-top:20px ;
}
.footer-right{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
.nav-links-top{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 10px;
    width: 250px;
}
.nav-links-top h2{
    font-size: 1.8rem;
}
.nav-links-top a{
    text-decoration: none;
    color: var(--grey);
}
.nav-links-top a:hover{
    color: var(--pink);
}
.gallery{
    position: relative;
    width: 300px;
    text-align: center;
}
.gallery h2{
    font-size: 1.8rem;
}
.show{
    display: grid;
    grid-template-columns: 100px 100px;
    position: relative;
    width: 300px;
    gap: 10px;
    justify-content: center;
}
.show img{
    height: 90px;
    width: 100px;
}
#show{
  right:-20px;
  bottom: 0;
  position: absolute;
  font-size: .9rem;
  width: 80px;
  height: 30px;
  display: inline-block;
  background-color: #fd00a9;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}



.footer-btm{
    height: 40px;
    background-color: #808080;
}
.main-footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}
.links{
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    color: #000;
}
.face, .insta , .x{
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}